header {
    position: relative;
    background-color:rgb(240, 237, 228);
    z-index: 90;
    width: 100%;
    height: 34px;
    border-top: 12px solid rgb(223, 131, 218);
    border-bottom: 12px solid rgb(223, 131, 218);
    padding: 20px;
    color: rgb(73, 66, 55)
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    background-color:rgb(240, 237, 228);
}

footer {
    font-size: 25px;
    letter-spacing: .1em;
    font-family: 'Luckiest Guy', cursive;
    color:rgb(209, 201, 187);
    background-color: rgb(73, 66, 55);
    padding: 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 45px;
    letter-spacing: .1em;;
}

nav {
    z-index: 100;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(172, 156, 140);
}

li {
    float: left;
    
}

li a {
    display: inline-block;
    color: rgb(37, 35, 32);
    text-align: center;
    padding: 22px 18px;
    text-decoration: none;
}

li a:hover {
    text-decoration: none;
    color:rgb(223, 131, 218)
}

.logo {
    width: 43px;
    padding: 8px 8px 8px 20px;
    position: relative;
}

#searchbar {
    padding: 10px;
    text-align: center;
    margin-top: 11px;
    margin-left: 10px;
    position: fixed;
}