/* header {
    position: relative; 
    background-color:rgb(240, 237, 228);
    z-index: 90;
    width: 100%;
    height: 100px;
    border-top: 12px solid rgb(223, 131, 218);
    border-bottom: 12px solid rgb(223, 131, 218);
    box-sizing: border-box;
    padding: 20px;
    color: rgb(73, 66, 55)
}

body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 15px;
    background-color:rgb(240, 237, 228);
    width: 80%;
}

footer {
    font-size: 25px;
    letter-spacing: .1em;
    font-family: 'Luckiest Guy', cursive;
    color:rgb(209, 201, 187);
    background-color: rgb(73, 66, 55);
    position: absolute;
    bottom: 0;
    width: 80%;
    box-sizing: border-box;
    padding: 20px;
    text-align: center;
} */

h1 {
    font-family: 'Luckiest Guy', cursive;
    font-size: 45px;
    letter-spacing: .1em;;
}

li a:hover {
    text-decoration: none;
    color:rgb(223, 131, 218);
    text-shadow: 2px 2px rgb(37, 35, 32);
}

.logo {
    width: 43px;
    padding: 8px 8px 8px 20px;
    position: relative;
}

p {
    padding: 20px;
    line-height: 1.5em;
    letter-spacing: .02em;
}

#shopping-cart {
    padding: 10px;
    width: 27px;
    margin-top: 10px;
}

.dianna-image {
    float: left;
    padding: 0px 20px 0px 0px;
}

.contact-form {
    float: left;
}

div, .flex-container {
    display: flex;
    padding: 10px;
    line-height: 1.5em;
    letter-spacing: .02em;
  }