header {
    position: relative;
    background-color:rgb(240, 237, 228);
    z-index: 90;
    width: 100%;
    height: 50px;
    border-bottom: 6px solid rgb(223, 131, 218);
    padding: 15px;
}

nav {
    z-index: 100;
}

ul {
    list-style-type: none;
    overflow: hidden;
    background-color: rgb(172, 156, 140);
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: rgb(37, 35, 32);
    text-align: center;
    padding: 14px 18px;
    text-decoration: none;
}